<% if @last and @last.done %>
<%= form_for([current_user , @travel]) do |f|%>
<div class="form-group">
  <%= f.label :title %><br />
  <%= f.text_field :title , class: 'form-control', :required => true%>
</div>
<div class="field">
  <%= f.hidden_field :done, :value => false %>
</div>
<div class="actions">
  <%= f.submit "Start" , :class => 'btn btn-primary'%>
</div>
<% end %>
<%  elsif not @last %>
<%= form_for([current_user , @travel]) do |f|%>
<div class="form-group">
  <%= f.label :title %><br />
  <%= f.text_field :title , class: 'form-control', :required => true%>
</div>
<div class="field">
  <%= f.hidden_field :done, :value => false %>
</div>
<div class="actions">
  <%= f.submit "Start" , :class => 'btn btn-primary'%>
</div>
<% end %>
  <% else %>
  You are traveling to <%= @last.title %>
  <%= form_for :travel , method: :put, :url => {:action => "update", :id => @last } do |f| %>
  <div class="field">
    <%= f.hidden_field :done, :value => true %>
  </div>
  <div class="actions">
    <%= f.submit "Finish" , :class => 'btn btn-primary'%>
  </div>
  <% end %>
<% end %>

<% if current_user and ( @last.done == false or @notDone ) %>
<script type="text/javascript">
function myMap() {
  // Try HTML5 geolocation.
  console.log("sending");
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      $.ajax({
        url: "http://localhost:3000/users/<%= current_user.id%>/travels/<%= @last.id %>/points",
        type: "POST",
        data: {points: {
          latitude: position.coords.latitude,
          longitude: position.coords.longitude }},
          success: function(resp){
            location.reload();
            // this.send();
          }
        });
    });
  } else {
    // Browser doesn't support Geolocation
    alert("location is not suppported");
  }
}


</script>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClM3z3tp5qrlHSEXfuyaKtFUhzMX7KYiM&callback=myMap"></script>
  <% end %>
