<% if @last and @last.done %>
<%= form_for([current_user , @travel]) do |f|%>
<div class="form-group">
  <%= f.label :title %><br />
  <%= f.text_field :title , class: 'form-control', :required => true%>
</div>
<div class="field">
  <%= f.hidden_field :done, :value => false %>
</div>
<div class="actions">
  <%= f.submit "Start" , :class => 'btn btn-primary'%>
</div>
<% end %>
<%  elsif not @last %>
<%= form_for([current_user , @travel]) do |f|%>
<div class="form-group">
  <%= f.label :title %><br />
  <%= f.text_field :title , class: 'form-control', :required => true%>
</div>
<div class="field">
  <%= f.hidden_field :done, :value => false %>
</div>
<div class="actions">
  <%= f.submit "Start" , :class => 'btn btn-primary'%>
</div>
<% end %>
  <% else %>
  You are traveling to <%= @last.title %>
  <%= form_for :travel , method: :put, :url => {:action => "update", :id => @last } do |f| %>
  <div class="field">
    <%= f.hidden_field :done, :value => true %>
  </div>
  <div class="actions">
    <%= f.submit "Finish" , :class => 'btn btn-primary'%>
  </div>
  <% end %>
<% end %>

<script type="text/javascript">
<% if current_user and ( @last.done == false or @notDone ) %>
console.log("sending");

$.ajax({
  url: "http://localhost:3000/users/<%= current_user.id%>/travels/<%= @last.id %>/points",
  type: "POST",
  data: {points: {
    latitude: '6.217',
    longitude: '-75.567'}},
    success: function(resp){
    location.reload();
    // this.send();
  }
  });

  <% end %>
function myMap() {
  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
    });
  } else {
    // Browser doesn't support Geolocation
    console.log("this shit is not suppported");
  }
}

</script>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwPHhFoPYRvAhLmHRQxJ42Tv6A5LM72vs&callback=myMap"></script>
